
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        header {
            background-color: #fdb9b9;
            color: #eeaeae;
            padding: 15px;
            text-align: center;
        }

        h1, h2 {
            color: #000000;
            text-align: center;
        }

        #ip2 {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            line-height: 1.6;
            white-space: pre-wrap;
        }
        #wihtml{
            text-align: center;
            font-size: 25px;
            margin: 0px;
        }
        hr{
            color: black;
        }
        #vue {
            height: 100px;
            display: inline-block;
            float: left;
        }
        #pre2{
            overflow: auto;
        }
        #vue1{
            overflow: auto;
        }
        #git{
            height: 100px;
            float: left;
            display: inline-block;
            margin: 10px;
        }
        #example1{
            height: 400px;
            float: left;
            margin: 10px;
            box-shadow: 5px 5px 10pz rgba(0, 0, 0, 0.1);
        }
